---
layout: main

hero-image: url(assets/images/robot2.jpg)
hero-message: <span style="font-weight:600">PIONEERS IN ENGINEERING</span><br><span style="font-size:.5em; font-weight:400">Bringing STEM education to the Bay Area</span>
title: Pioneers in Engineering
---

<div class="home">

     <div class="row" id="pie-description"> <!-- First Row of Images, meant for immediate description of what PiE is/does -->
      <div class="col-sm-4">
        <h2>Competition</h2>
        <img src="assets/images/comp.JPG">
        <p>Bringing high school students together to challenge themselves in new ways through robotics</p>
      </div>

      <!-- <div class="vertical-border visible-lg-inline-block visible-md-inline-block"></div> -->
      <div class="col-sm-4">
        <h2>Outreach</h2>
        <img src="assets/images/prepbot.jpg">
        <p>Connecting mentors to Bay Area high school students through PIE PREP and promoting STEM awareness throughout the community</p>
      </div>

      <!-- <div class="vertical-border visible-lg-inline-block visible-md-inline-block"></div> -->
      <div class="col-sm-4">
        <h2>Development</h2>

        <img src="assets/images/solderingSquare.jpg">
        <p>Developing our own software and hardware to give students the best experience for $100 per team</p>
      </div>
    </div>

    <div class="row" id="stats"> <!-- Second Row, meant to demonstrate the impact that PiE has had on the Bay Area/Berkeley -->
      <hr class="horizontal-border"></hr>
      <h2>Pioneers in Engineering has served more than</h2>
      <h2><strong>30</strong> Schools • <strong>700</strong> High School Students • <strong>350</strong> Berkeley Students</h2>
      <!-- <img src="assets/images/sprocket.png" id="sprocket"> -->
    </div>


    <div class="row" id="news"> <!-- Third Row, meant for more specific information that is not needed by all visitors (i.e. Schedule, Blog) -->
      <hr class="horizontal-border"></hr>

      <div class="col-md-5">
        <h2>Schedule</h2>
        {% include schedule.html %}
      </div>

      <div class="col-md-7">
        <h2>News Updates</h2>
        {% for post in site.posts limit:3%}
          <div class="post-row">
            <h4 class="title">
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> | {{ post.date | date: '%B %d, %Y' }}
            </h4>
            <div class="excerpt">{{ post.excerpt }}</div>
          </div>

        {% endfor %}

      </div>
    </div>


    <!-- <div class="row" id="alumni"> <!--Fourth Row, meant to demonstrate notable Alumni and legacy of PiE
      <hr class="horizontal-border"></hr>
      <div class="col-md-5">
        <h2>Alumni Spotlight</h2>
        <div class="intro">
          <img src="http://photos.the-scientist.com/legacyArticleImages/2012/10/10_12_Obama.jpg" id="alumni-photo">
          <h3>Barack Obama</h3>
          <div class="achievement">PiE Alumnus, Class of 2019</div>
          <div class="achievement">44th President of the United States</div>
          <div class="achievement">Nobel Peace Prize Award Winner</div>
          <p>Obama is currently taking Chem 1A. He revised his lab report and hopes to get points back on his final project.
        </div >
        <div class="quote">"Pioneers in Engineering was an enriching experience that allowed me to learn, teach, and collaborate alongside like-minded peers and their passion for engineering."</div>
      </div>
      <div class="col-md-7">
        <h2>Where are our alumni now?</h2>
        <div>
          <img class="alumni-logo" src="assets/images/robot2.JPG">
          <img class="alumni-logo" src="assets/images/robot2.JPG">
          <img class="alumni-logo" src="assets/images/robot2.JPG">
          <img class="alumni-logo" src="assets/images/robot2.JPG">
          <img class="alumni-logo" src="assets/images/robot2.JPG">
          <img class="alumni-logo" src="assets/images/robot2.JPG">
          <img class="alumni-logo" src="assets/images/robot2.JPG">
          <img class="alumni-logo" src="assets/images/robot2.JPG">
          <img class="alumni-logo" src="assets/images/robot2.JPG">
          <img class="alumni-logo" src="assets/images/robot2.JPG">
        </div>

      </div>
    </div> -->

</div>
