---
layout: main
hero-message: <span style="font-weight:600">PIONEERS <span id="pkmn">IN</span> ENGINEERING</span><br><span style="font-size:.5em; font-weight:400">Bringing STEM education to the Bay Area</span>
title: Pioneers in Engineering
hero-button: Join Us!
hero-button-url: ../get-involved/join-staff.html
---
<script src="assets/javascripts/banner.js"></script>
<div class="home">
    <div id ="announcements">
        <h2>FALL EVENTS</h2>
          <h3>Fall Competition</h3>
            <p>This year's fall competition is on October 15, 2016. <a href="../programs/rc-fall.html">Check out the schedule here!</a></p>
	  <h3>Creating Code with PiE</h3>
	    <p>PiE's second high school student workshop is on October 29, 2016. If you are interested in participating, check out <a href="../programs/fall-workshops.html">the workshops page here</a> or email education@pioneers.berkeley.edu.</p> 
          <h3>Worksessions</h3>
          <p>Still interested in joining PiE staff? Stop by one of our worksessions - Wednesdays from 7 - 9 PM or Saturdays from 1 - 3 PM at O'Brien Hall!</p><p><a class="btn btn-primary btn-sm" href="../get-involved/join-staff.html" role="button">More information here!</a></p>
    </div>

    <br/>
     <div class="row" id="pie-description"> <!-- First Row of Images, meant for immediate description of what PiE is/does -->
      <div class="col-sm-4">
        <h2>Competition</h2>
        <img src="assets/images/comp.JPG">
        <p>Bringing high school students together to challenge themselves in new ways through robotics</p>
      </div>

      <!-- <div class="vertical-border visible-lg-inline-block visible-md-inline-block"></div> -->
      <div class="col-sm-4">
        <h2>Outreach</h2>
        <img src="assets/images/prepbot.jpg">
        <p>Connecting mentors to Bay Area high school students through PIE PREP and promoting STEM awareness throughout the community</p>
      </div>

      <!-- <div class="vertical-border visible-lg-inline-block visible-md-inline-block"></div> -->
      <div class="col-sm-4">
        <h2>Development</h2>

        <img src="assets/images/solderingSquare.jpg">
        <p>Developing our own software and hardware to give students the best experience for $100 per team</p>
      </div>
    </div>

    <div class="row" id="stats"> <!-- Second Row, meant to demonstrate the impact that PiE has had on the Bay Area/Berkeley -->
      <hr class="horizontal-border"></hr>
      <h2>Pioneers in Engineering has served more than</h2>
      <h2><strong>30</strong> Schools • <strong>700</strong> High School Students • <strong>350</strong> Berkeley Students</h2>
      <!-- <img src="assets/images/sprocket.png" id="sprocket"> -->
    </div>


    <div class="row" id="news"> <!-- Third Row, meant for more specific information that is not needed by all visitors (i.e. Schedule, Blog) -->
      <hr class="horizontal-border"></hr>

      <div class="col-md-5">
        <h2>Schedule</h2>
        {% include schedule.html %}
      </div>

      <div class="col-md-7">
        <h2>News Updates</h2>
        {% for post in site.posts limit:5%}
        {% unless post.hide %}
          <div class="post-row">
            <h4 class="title">
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> | {{ post.date | date: '%B %d, %Y' }}
            </h4>
            <div class="excerpt">{{ post.excerpt }}</div>
          </div>
        {% endunless %}
        {% endfor %}

      </div>
    </div>


</div>
