<!-- TODO: The footer probably has some legal cruft associated with it. Should consult Foundation -->
<footer class="site-footer">

  <div class="container-fluid">

    <div class="row">
      <div class="col-md-3">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
            <!-- TODO (christinewang): incorporate fontawesome icons instead of manual SVG paths -->
              <i class="fa fa-github"></i>
              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <i class="fa fa-twitter"></i>
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="col-md-6">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
