<!-- TODO: The footer probably has some legal cruft associated with it. Should consult Foundation -->
<footer class="site-footer">

  <div class="container-fluid">

    <div class="row">
      <div class="col-md-4">
        <ul class="contact-list">
          <li><strong>{{ site.title }}</strong></li>
          <li>{% email leadership@pioneers.berkeley.edu %}</li>
          <li>
            101 O'Brien Hall, Berkeley, CA 94704
            [<a href="https://www.google.com/maps/d/u/0/viewer?mid=1Sd6QurpSJK3xXEvOiISkWlKXj98&ll=37.87455169480766%2C-122.2592228994057&z=18">map</a>]
          </li>
        </ul>
      </div>

      <div class="col-md-4">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}" target="_blank">
              <i class="fa fa-github fa-2x"></i>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
              <i class="fa fa-twitter fa-2x"></i>
            </a>
          </li>
          {% endif %}

          {% if site.facebook_username %}
          <li>
            <a href="https://facebook.com/{{ site.facebook_username }}" target="_blank">
              <i class="fa fa-facebook fa-2x"></i>
            </a>
          </li>
          {% endif %}

          {% if site.youtube_username %}
          <li>
            <a href="https://youtube.com/user/{{ site.youtube_username }}" target="_blank">
              <i class="fa fa-youtube-play fa-2x"></i>
            </a>
          </li>
          {% endif %}

          {% if site.instagram_username %}
          <li>
            <a href="https://instagram.com/{{ site.instagram_username }}" target="_blank">
              <i class="fa fa-instagram fa-2x"></i>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="col-md-4">
        <div class="footer-description">
          <div class="description-wrap">
            <p>{{ site.copyright }}</p>
            <p>{{ site.license }}</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</footer>
