<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: rgba(43, 61, 98, 0.95)">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div style="float:left;"> <!-- Makes sure the title doesn't go all the way right -->
        <a href = '/'>
          <img style="width:50px;" src="{{"/titleicon.png" | prepend: site.baseurl }}">
        </a>
        <a style="float:right;" class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}"> <!-- Makes the title right of the icon, default is otherwise -->
          <!-- <img alt="Brand" src="http://pioneers.allen.li/graphics/general/logos/Logo_vectorized.svg"> -->
          <div id="title">Pioneers in Engineering</div>
          <div id="small-title">PiE</div>
        </a>
      </div>
    </div>

<!--
    <ul class="nav navbar-nav navbar-right">
      <a href = "/about/about-us.html" ><b><p class="navbar-text sitemap">ABOUT US</p></b></a>
      <a href = "https://www.google.com/"><b><p class="navbar-text sitemap">STUDENTS</p></b></a>
      <a href = "https://www.google.com/"><b><p class="navbar-text sitemap">GET INVOLVED</p></b></a>
      <a href = "https://www.google.com/"><b><p class="navbar-text sitemap">SUPPORT US</p></b></a>
    </ul> -->

     <!-- revision starts from here -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#main-about" class="navbar-text sitemap" style="margin: 0;"><b>ABOUT US</b></a></li>
        <li><a href="/#main-students" class="navbar-text sitemap" style="margin: 0;"><b>STUDENTS</b></a></li>
        <li><a href="/#main-get-involved" class="navbar-text sitemap" style="margin: 0;"><b>GET INVOLVED</b></a></li>
        <li><a href="/#main-support-us" class="navbar-text sitemap" style="margin: 0;"><b>SUPPORT US</b></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>
{% if page.jumbotron-image %}
  <div class="outer" style="color: white; height: 500px; background-image:{{page.jumbotron-image}};">
    <div class="inner">
    {{page.jumbotron-text}}
    </div>
  </div>
{% endif %}
