<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div style="float:left;"> <!-- Makes sure the title doesn't go all the way right -->
        <img style="width:50px;" src="{{"/titleicon.png" | prepend: site.baseurl }}">
        <a style="float:right;" class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}"> <!-- Makes the title right of the icon, default is otherwise -->
          <!-- <img alt="Brand" src="http://pioneers.allen.li/graphics/general/logos/Logo_vectorized.svg"> -->
          <div id="title">Pioneers in Engineering</div>
          <div id="small-title">PiE</div>
        </a>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="{{ "/about/team.html" | prepend: site.baseurl }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ "/about/about-us.html" | prepend: site.baseurl }}">About Us</a></li>            
            <li><a href="{{ "/about/team.html" | prepend: site.baseurl }}">The PiE Team</a></li>
            <li><a href="{{ "/about/foundation.html" | prepend: site.baseurl }}">Foundation</a></li>
            <li><a href="{{ "/about/gallery.html" | prepend: site.baseurl }}">Gallery</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Programs <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ "/programs/rc-spring.html" | prepend: site.baseurl }}">Robotics Competition</a></li>
            <li><a href="http://pioneers.github.io/opensource/index.html">Open Source <i class="fa fa-external-link"></i></a></li>
            <li><a href="{{ "/programs/past-programs.html" | prepend: site.baseurl }}">Past Programs</a></li>
            <li><a href="{{ "/programs/scholarship.html" | prepend: site.baseurl }}">Scholarship</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Get Involved <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ "/get-involved/start-team.html" | prepend: site.baseurl }}">Start a Team</a></li>
            <li><a href="{{ "/get-involved/join-staff.html" | prepend: site.baseurl }}">Join PiE Staff</a></li>
            <li><a href="{{ "/get-involved/become-mentor.html" | prepend: site.baseurl }}">Become a Mentor</a></li>
            <li><a href="{{ "/get-involved/volunteer.html" | prepend: site.baseurl }}">Volunteer</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Support PiE <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ "/support-pie/donate.html" | prepend: site.baseurl }}">How You Can Help</a></li>
            <li><a href="{{ "/support-pie/sponsors.html" | prepend: site.baseurl }}">List of Sponsors</a></li>
          </ul>
        </li>
        <li><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% if page.jumbotron-image %}
  <div class="outer" style="color: white; height: 500px; background-image:{{page.jumbotron-image}};">
    <div class="inner">
    {{page.jumbotron-text}}
    </div>
  </div>
{% endif %}
