<script src="../assets/javascripts/Chart.js"></script>

<style>

#fork {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.legend {
    width: 15%;
    border: 1px solid black;
}

.legend .title {
    display: block;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    line-height: 1.2em;
    padding: 0 0.3em;
    font-size: 80%;
}

.legend .color-sample {
    display: block;
    float: left;
    width: 1em;
    height: 1em;
    border: 2px solid; /* Comment out if you don't want to show the backgroundColor */
    //border-radius: 0.5em;
    margin-right: 0.5em;
} </style>

<div style="width: 100%; height:50%">
	<h2 class ="sub-heading">PiE Annual Data</h2>
	<div class="hidden-xs">
		<canvas id="canvas" height="25%" width="60%" ></canvas>
	</div>
	<div class = "visible-xs">
		<table class="table table-striped table-hover">
			<thead> <tr> <th>Year</th> <th>Participants</th> <th>Schools</th> <th>Mentors</th> </tr>
			</thead>
			 <tbody> <tr> <th scope=row>2009</th> <td>44</td> <td>6</td> <td>18</td> </tr>
			 	<tr> <th scope=row>2010</th> <td>60</td> <td>8</td> <td>27</td> </tr>
			 	<tr> <th scope=row>2011</th> <td>102</td> <td>9</td> <td>35</td> </tr>
			 	<tr> <th scope=row>2012</th> <td>265</td> <td>20</td> <td>90</td> </tr>
			 	<tr> <th scope=row>2013</th> <td>260</td> <td>24</td> <td>107</td> </tr>
			 	<tr> <th scope=row>2014</th> <td>276</td> <td>20</td> <td>86</td> </tr>
			 	<tr> <th scope=row>2015</th> <td>350</td> <td>24</td> <td>76</td> </tr>
			 </tbody>
		</table>
	</div>
</div>

<div style="width: 100%; height: 100%">
	<h2 class ="sub-heading">2016 RC Participant's Annual Household Income</h2>
	<div class="hidden-xs">
		<div style="float: center; width: 90%; height: 100%">
			<canvas id="canvas2" height="50%" width="100%" ></canvas>
      <h3>47% of our participants live below the US median wage.</h3>
		</div>
	</div>
	<div class = "visible-xs">
		<table class="table table-striped table-hover">
			<thead> <tr> <th>Family Income</th> <th>Total</th> <th>Percent</th> </tr>
			</thead>
			 <tbody> <tr> <th scope=row>below $10,000</th> <td>14</td> <td>5%</td> </tr>
			 	<tr> <th scope=row>$10,000 - $30,000</th> <td>46</td> <td>17%</td> </tr>
			 	<tr> <th scope=row>$30,000 - $50,000</th> <td>68</td> <td>25%</td> </tr>
			 	<tr> <th scope=row>$50,000 - $70,000</th> <td>45</td> <td>16%</td> </tr>
			 	<tr> <th scope=row>$70,000 - $90,000</th> <td>26</td> <td>9%</td> </tr>
			 	<tr> <th scope=row>$90,000+</th> <td>78</td> <td>28%</td> </tr>
			 </tbody>
		</table>
	</div>
</div>

<div style="width: 100%; height: 100%">
	<h2 class ="sub-heading">2016 RC Participant's Gender Distribution</h2>
	<div class="hidden-xs">
		<div style="float: center; width: 90%; height: 100%">
			<canvas id="canvas3" height="50%" width="100%" ></canvas>
      <h3>One in three of our participants are girls.</h3>
		</div>
	</div>
	<div class = "visible-xs">
  <table class="table table-striped table-hover">
    <thead> <tr> <th>Gender</th> <th>Total</th> <th>Percent</th> </tr>
    </thead>
     <tbody> <tr> <th scope=row>Male</th> <td>187</td> <td>68%</td> </tr>
      <tr> <th scope=row>Female</th> <td>88</td> <td>32%</td> </tr>
     </tbody>
  </table>
	</div>
</div>

<script>


	var pieAnnualData = {
		labels : ["2009", "2010", "2011", "2012", "2013", "2014", "2015"],
		datasets : [
			{
				label: "Participants",
				backgroundColor : "rgba(43,61,98,0.5)",
				borderColor : "rgba(43,61,98,0.8)",
				hoverBackgroundColor : "rgba(43,61,98,0.75)",
				hoverBorderColor : "rgba(43,61,98,1)",
				data : [44, 60, 102, 265, 260, 276, 350]
			},
			{
				label: "Schools",
				backgroundColor : "rgba(199, 170, 54,0.5)",
				borderColor : "rgba(199, 170, 54,0.8)",
				hoverBackgroundColor: "rgba(199, 170, 54,0.75)",
				hoverBorderColor: "rgba(199, 170, 54,1)",
				data : [6, 8, 9, 20, 24, 20, 24]
			},

			{
				label: "Mentors",
				backgroundColor : "rgba(151,187,205,0.5)",
				borderColor : "rgba(151,187,205,0.8)",
				hoverBackgroundColor : "rgba(151,187,205,0.75)",
				hoverBorderColor : "rgba(151,187,205,1)",
				data : [18, 27, 35, 90, 107, 86, 76]
			}
		]

	};


	var pieIncomeData = {
    labels: [
      "below $10,000",
      "$10,000 - $30,000",
      "$30,000 - $50,000",
      "$50,000 - $70,000",
      "$70,000 - $90,000",
      "$90,000+"
    ],
    datasets: [
      {
        data: [14, 46, 68, 45, 26, 78],
        backgroundColor: [
          "#FF6384",
          "#FDB45C",
          "rgba(199, 170, 54,0.5)",
          "rgb(102, 153, 255)",
          "#46BFBD",
          "rgba(151,187,205,0.5)"
        ],
        hoverBackgroundColor: [
          "#FF5A5E",
          "#FFC870",
          "rgba(199, 170, 54,0.8)",
          "rgb(136, 164, 221)",
          "#5AD3D1",
          "rgba(151,187,205,0.75)"
        ]
      }
	  ]
  };

  var pieGenderData = {
    labels: ["Male", "Female"],
    datasets: [
      {
        data: [187, 88],
        backgroundColor: [
          "#5ab9ed",
          "#ff7cc0"
        ]
      }
    ]
  }

	var ctx = document.getElementById("canvas").getContext("2d");
	var pieAnnualChart = new Chart(ctx, {
    type: "bar",
    data: pieAnnualData,
    options: {}
	});

	var ctx2 = document.getElementById("canvas2").getContext("2d");
	var pieIncomeChart = new Chart(ctx2, {
    type: "pie",
    data: pieIncomeData,
    options: {}
	});

	var ctx3 = document.getElementById("canvas3").getContext("2d");
	var pieGenderChart = new Chart(ctx3, {
    type: "pie",
    data: pieGenderData,
    options: {
      rotation: (2*0.32-0.5)*Math.PI
    }
	});

	//legend(document.getElementById("legend"), pieAnnualData, pieData);
	//legend(document.getElementById("legend2"), pieIncomeData, incomeChart);
	//show()

</script>
