<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Event</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Kickoff</td>
      <td>March 10th, 2018</td>
    </tr>
    <tr>
      <td>Gameday</td>
      <td>March 17th, 2018</td>
    </tr>
    <tr>
      <td>Design Reviews</td>
      <td>Saturday 3/31, 9am - 2pm</td>
    </tr>
    <tr>
      <td>Scrimmage</td>
      <td>April 14th, 2018</td>
    </tr>
    <tr>
      <td>Final Competition</td>
      <td>April 28th-29th, 2018</td>
    </tr>

    </tbody>
</table>
