<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Event</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Kickoff</td>
      <td>February 27, 2016</td>   
    </tr>
    <tr> 
      <td>Game Day</td>
      <td>March 5, 2016</td>
    </tr>
    <tr>
      <td>Design Reviews</td>
      <td>March 14-18, 2016</td>
    </tr>
    <tr>
      <td>Scrimmage</td>
      <td>April 9, 2016</td>
    </tr>
    <tr>
      <td>Final Competition</td>
      <td>April 23-24, 2016</td>
    </tr>

    </tbody>
</table>