<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Event</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Kickoff</td>
      <td>Saturday, 03/04</td>
    </tr>
    <tr>
      <td>Game Day</td>
      <td>Saturday, 03/11</td>
    </tr>
    <tr>
      <td>Design Reviews</td>
      <td>Monday, 03/20 - Friday, 03/24</td>
    </tr>
    <tr>
      <td>Scrimmage</td>
      <td>Saturday, 04/15</td>
    </tr>
    <tr>
      <td>Final Competition</td>
      <td>Saturday, 04/29 &amp; Sunday, 04/30</td>
    </tr>

    </tbody>
</table>
