<footer class="sitemap-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2 col-xs-6">
        <ul>
          <li> <p class="sitemap-header"> About </p> </li>
          <li> <a class="sitemap" href="../about/about-us.html"> About Us </a> </li>
          <li> <a class="sitemap" href="../about/team.html"> The PiE Team </a> </li>
          <li> <a class="sitemap" href="../about/foundation.md"> Foundation </a> </li>
          <li> <a class="sitemap" href="../about/gallery.html"> Gallery </a> </li>
        </ul>
       </div>
      <div class = "col-sm-2 col-xs-6">
        <ul class = "sitemap">
          <li> <p class = "sitemap-header"> Compete </p> </li>
          <li> <a class = "sitemap" href = "../compete/rc-spring.html"> PiE Robotics Competition </a> </li>
          <li> <a class = "sitemap" href = "../compete/rc-fall.html"> PiE Fall Competition </a> </li>
          <li> <a class = "sitemap" href = "../compete/start-team.html"> Start a Team </a> </li>
          <li> <a class = "sitemap" href = "../compete/past-participants.html"> Past Participants </a> </li>
          <li> <a class = "sitemap" href = "../software/"> Software Hub </a> </li>
          <li> <a class = "sitemap" href = "../software/robot_api.html"> Robot API </a> </li>
        </ul>
      </div>
      <div class="col-sm-2 col-xs-6">
        <ul>
          <li> <p class="sitemap-header"> Programs </p> </li>
          <li> <a class="sitemap" href="../programs/fall-workshops.html"> Fall Workshops </a> </li>
          <li> <a class="sitemap" href="http://pioneers.github.io/opensource/index.html"> Open Source </a> </li>
          <li> <a class="sitemap" href="../programs/scholarship.html"> Scholarship </a> </li>
          <li> <a class="sitemap" href="../programs/past-programs.html"> Past Programs </a> </li>
        </ul>
      </div>
      <div class="col-sm-2 col-xs-6">
        <ul>
          <li> <p class="sitemap-header"> Get Involved </p> </li>
          <li> <a class="sitemap" href="../get-involved/index.html"> Join PiE Staff </a> </li>
          <li> <a class="sitemap" href="../get-involved/projects.html"> Projects </a> </li>
          <li> <a class="sitemap" href="../get-involved/become-mentor.html"> Mentor (Decal) </a> </li>
          <li> <a class="sitemap" href="../get-involved/volunteer.html"> Volunteer </a> </li>
          <li> <a class="sitemap" href="../get-involved/faq.html"> FAQ </a> </li>
        </ul>
      </div>
      <div class="col-sm-2 col-xs-6">
        <ul>
          <li> <p class="sitemap-header"> Support PiE </p> </li>
          <li> <a class="sitemap" href="../support-pie/donate.html"> How You Can Help</a> </li>
          <li> <a class="sitemap" href="../support-pie/sponsors.html"> List of Sponsors </a> </li>
        </ul>
       </div>
      <div class="col-sm-2 col-xs-6">
        <ul class="blog">
          <li> <p class="sitemap-header"> Blog </p> </li>
          <li> <a class="sitemap" href="../blog/index.html"> Blog </a> </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
