<footer class="sitemap-footer sitemap">
  <div class="container-fluid">
    <div class="row sitemap">
      <div class="col-sm-2 col-xs-6">
        <ul>
          <li> <p class="sitemap-header"> About </p> </li>
          <li> <a class="sitemap" href="/about/"> About Us </a> </li>
          <li> <a class="sitemap" href="/about#team"> The PiE Team </a> </li>
          <li> <a class="sitemap" href="/about#foundation"> Foundation </a> </li>
          <li> <a class="sitemap" href="/about#reports-and-data"> Reports and Data </a> </li>
          <li> <a class="sitemap" href="/gallery"> Gallery </a> </li>
        </ul>
       </div>
      <div class="col-sm-2 col-xs-6">
        <ul>
          <li> <p class="sitemap-header"> Compete </p> </li>
          <li> <a class="sitemap" href="/compete/rc-spring"> PiE Robotics Competition </a> </li>
          <li> <a class="sitemap" href="/compete/rc-fall"> PiE Fall Competition </a> </li>
          <li> <a class="sitemap" href="/compete/start-team"> Start a Team </a> </li>
          <li> <a class="sitemap" href="/compete/past-participants"> Past Participants </a> </li>
          <li> <a class="sitemap" href="/software/"> Software Hub </a> </li>
          <li> <a class="sitemap" href="/software/robot_api"> Robot API </a> </li>
        </ul>
      </div>
      <div class="col-sm-2 col-xs-6">
        <ul>
          <li> <p class="sitemap-header"> Programs </p> </li>
          <li> <a class="sitemap" href="/programs/fall-workshops"> Fall Workshops </a> </li>
          <li> <a class="sitemap" href="http://pioneers.github.io/opensource/index"> Open Source </a> </li>
          <li> <a class="sitemap" href="/programs/scholarship"> RC Scholarship </a> </li>
          <li> <a class="sitemap" href="/programs/past-programs"> Past Programs </a> </li>
        </ul>
      </div>
      <div class="col-sm-2 col-xs-6">
        <ul>
          <li> <p class="sitemap-header"> Get Involved </p> </li>
          <li> <a class="sitemap" href="/get-involved/index"> Join PiE Staff </a> </li>
          <li> <a class="sitemap" href="/get-involved/#projects"> Projects </a> </li>
          <li> <a class="sitemap" href="/get-involved/become-mentor"> Mentor (Decal) </a> </li>
          <li> <a class="sitemap" href="/get-involved/#volunteer"> Volunteer </a> </li>
          <li> <a class="sitemap" href="/get-involved/#faq"> FAQ </a> </li>
        </ul>
      </div>
      <div class="col-sm-2 col-xs-6">
        <ul>
          <li> <p class="sitemap-header"> Support PiE </p> </li>
          <li> <a class="sitemap" href="/support-pie/"> How You Can Help</a> </li>
          <li> <a class="sitemap" href="/support-pie/#sponsors"> List of Sponsors </a> </li>
        </ul>
       </div>
      <div class="col-sm-2 col-xs-6">
        <ul>
          <li> <p class="sitemap-header"> Blog </p> </li>
          <li> <a class="sitemap" href="/blog/index"> Blog </a> </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
