/**
 * Hero unit
 */

.hero-unit {
  @extend .jumbotron; // for consistent padding, responsiveness
  height: 300px;
  background-size: 100% auto;
  background-position: center;
  position: relative;
  &.tall {
    height: 80vh;
  }
  h1, h2 {
    color: #ffffff;
  }
  .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

/**
 * Site footer
 */

.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

/**
 * Page content
 */

.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;
  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}


/**
 * Posts
 */
// (christinewa): Commenting this out because we might need it later

// .post-header {
//   margin-bottom: $spacing-unit;
// }

// .post-title {
//   font-size: 42px;
//   letter-spacing: -1px;
//   line-height: 1;
//   @include media-query($on-laptop) {
//     font-size: 36px;
//   }
// }

// .post-content {
//   margin-bottom: $spacing-unit;
//   h2 {
//     font-size: 32px;
//     @include media-query($on-laptop) {
//       font-size: 28px;
//     }
//   }
//   h3 {
//     font-size: 26px;
//     @include media-query($on-laptop) {
//       font-size: 22px;
//     }
//   }
//   h4 {
//     font-size: 20px;
//     @include media-query($on-laptop) {
//       font-size: 18px;
//     }
//   }
// }
