/*
 * Commonly used styles
 */


/**
 * Hero unit
 */

.hero-unit {
  @extend .jumbotron; // for consistent padding, responsiveness
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  h1,
  h2 {
    color: #ffffff;
  }
  .container {
    position: relative;
  }
}

@media (min-width: $screen-md-min) {
  .hero-unit{
    padding-top: 20vh;
    padding-bottom: 20vh;
  }

}

/**
  * Gold Links
  */

.gold-link{
    color: $pie-gold;
  }



/* Applies a faded overlay to a position:relative div.
Does not work on round things. */

.fade-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


/**
*Team page
*/

.staff-images {
  @include flex;
  justify-content: space-around;
  &:last-of-type {
    margin-bottom: $spacing-unit;
  }
}

.staff-member {
  text-align: center;
  padding: 30px 30px 5px;
  .staff-image {
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-color: #E6E6E6;
    margin: 0 auto 10px;
    img {
      @extend .img-scaled-wh;
      background-color: white;
    }
  }
  .staff-description {
    width: 200px;
    p {
      margin-bottom: 0;
    }
  }
}

.team {
  .sub-heading {
    text-align: center;
    // padding-top: 25px;
  }
}

.staff-email {
  text-align: center;
  font-size: 14px;
  font-style: italic;
  text-decoration: none;
  opacity: .54;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
}


/**
* About Us
*/

.about-us .sub-heading {
  margin-top: $spacing-unit * 2;
  margin-bottom: $spacing-unit;
}

#about-us-heading {
  margin-top: $spacing-unit;
}

#fall-image {
  background-image: url(../assets/images/about-us/fall.jpg);
  background-color: rgba($pie-blue, .70);
}

#spring-image {
  background-image: url(../assets/images/about-us/spring.jpg);
  background-color: rgba($pie-gold, 0.70);
}

.graphic-description {
  width: 80%;
  padding: floor($grid-gutter-width / 2);
  margin: 0 auto;
}

.rc-row {
  @media (max-width: $screen-xs-max) {
    @include flex;
  }
}

#fall-row {
  background-color: $pie-blue;
  color: white;
}

#spring-row {
  background-color: $pie-gold;
  flex-direction: row-reverse;
}

.text-col {
  box-sizing: border-box;
  width: 50%;
  @media (max-width: $screen-xs-max) {
    width: 100%;
  }
}

.image-col {
  box-sizing: border-box;
  padding: 0;
  background-size: cover;
  background-blend-mode: multiply;
  width: 50%;
  height: 400px;
  @media (max-width: $screen-xs-max) {
    width: 100%;
    height: 200px;
  }
}

.pdf-link {
  text-decoration: none;
}

.about-us table {
  margin-bottom: $spacing-unit * 2;
}

.about-us center {
  margin-bottom: $spacing-unit * 2;
}




/**
* Gallery
*/

.heading-image {
  @extend .jumbotron;
  margin: 30px 0;
  width: 100%;
  background-size: cover;
  background-color: rgba(#000000, .30);
  background-blend-mode: multiply;
  color: white;
  text-align: center;
}

.heading-description {
  font-size: 25px;
}

.gallery {
  @include flex;
  justify-content: center;
  // padding: 20px 10px 100px;
  &:last-of-type {
    margin-bottom: $spacing-unit;
  }
  .staff-image {
    height: 280px;
    width: 280px;
    margin: 2px;
  }
  .staff-member {
    padding: 0 0 0 0;
  }
}

#fall-competition-2015 {
  background-image: url(../assets/images/gallery-photos/fall-comp-2015-h.jpg);
  background-position: 0 70%;
}

#spring-competition-2015 {
  background-image: url(../assets/images/gallery-photos/spring-comp-2015-h.jpg);
  background-position: 0 50%;
}

#retreat-2015 {
  background-image: url(../assets/images/gallery-photos/retreat-2015-h.jpg);
}

#fall-events-2014 {
  background-image: url(../assets/images/gallery-photos/fall-events-2014-h.jpg);
  background-position: 0 70%;
}

/*
#spring-competition-2014 {
  background-image: url(../assets/images/gallery-photos/spring-events-2014-h.jpg);
  background-position: 0 50%;
}
*/

/*
#retreat-2014 {
  background-image: url(../assets/images/gallery-photos/retreat-2014-h.jpg);
}
*/

#fall-events-2013 {
  background-image: url(../assets/images/gallery-photos/fall-events-2013-h.jpg);
  background-position: 0 40%;
}

#spring-events-2013 {
  background-image: url(../assets/images/gallery-photos/spring-events-2013-h.jpg);
  background-position: 0 50%;
}

#retreat-2013 {
  background-image: url(../assets/images/gallery-photos/retreat-2013-h.jpg);
}

/**
 * Site footer
 */

.site-footer {
  margin-top: 35px;
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit;

  ul {
    list-style: none;
    padding: 0;
  }
}

.social-media-list {
  @include flex;
  justify-content: center;
}

.social-media-list li {
  display: inline;
  padding: 15px;
}

.social-media-list li a {
  transition: .25s;
  text-decoration: none;

  :hover {
    // color: #657494;
    color: lighten($pie-blue, 15%);
  }
}

.footer-description {
  @include flex;
  justify-content: flex-end;
}

@media screen and (max-width:991px) {
  .social-media-list, .footer-description {
    justify-content: flex-start;
    margin-top: 10px;
  }

  .social-media-list li {
    padding: 0 30px 0 0;
  }
}

/**
 * Page content
 */

.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;
  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Sponsor Page - Scott and Christian
 */
#sponsor-top{
  margin-left: $spacing-unit/2;
}

/**
 * Home Page - Scott and Christian
 */
#title {
  display:inline;
}

#small-title {
  visibility:hidden;
}

@media (max-width: 350px) {
  #title {
      display:none;
  }
  #small-title {
      visibility:visible;
  }
}

#announcements{
  @extend .jumbotron;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  p{
    font-size: $jumbotron-font-size/2;
  }
}

.horizontal-border {
  border-color: $gray-lighter;
  border-width: 2px;
  width: 80%;
  margin: 0 auto;
}

.vertical-border {
  border-left: 2px solid $gray-lighter;
  position: relative;
  float: left;
  height: 80%;
  top: 10%;
  left: 0px;
}

.home {
  width: 95%;
  margin: 0 auto;
  h2 {
    text-align: center;
    margin-bottom: $spacing-unit *2/3;
  }
  .row {
    padding-bottom: $spacing-unit;
  }
}

#pie-description {
    margin-top: -$spacing-unit;
  p {
    width: 80%;
    text-align: center;
    margin: auto;
  }
  img {
    display: block;
    margin: 0 auto $spacing-unit/2;
    width: 75%;
  }
}

#news {
  position: relative;
  p {
    width: 80%;
    margin: auto;
  }
  img {
    width: 100%;
  }
}

#alumni {
  position: relative;
  .intro {
    overflow: hidden;
  }
  h3 {
    margin-top: 0px;
  }
  #alumni-photo {
    box-shadow: 2.5px 2.5px 1.25px #888888;
    width: 125px;
    display: inline;
    margin-right: $spacing-unit;
    float: left;
  }
  .achievement {
    font-weight: 600;
  }
  .quote {
    font-size: 1.25em;
    font-style: italic;
  }
}

.alumni-logo {
  width: 20%;
  float: left;
  margin: 2%;
}

/**
 * Support PiE - Christian and Scott
 */

#paying {
  text-align: center;
}

@media (max-width: $screen-sm-min) {
  #support {
    margin-left: $spacing-unit/2;
  }
}

#poster {
  width: 100%;
  padding: $spacing-unit;
  padding-top: 0;
}

#paypal {
  margin: 15px;
  margin-top: 0;
}


/**
 * Program Pages - Christine and Gavin
 */

.big-txt {
  font-size: 10rem;
  text-align: center;
  margin: 15px;
  color: $pie-blue;
}

.big-gold-txt {
  font-size: 10rem;
  text-align: center;
  margin: 15px;
  color: $pie-gold;
}

.blue-title {
  color: $pie-blue;
}

.rc-spring {
  .row {
    padding-bottom: $spacing-unit;
  }
}

#rc-video {
  width: 70%;
  min-width: 300px;
  margin: 0 auto;
}


/**
 * Posts
 */

// (christinewang): Commenting this out because we might need it later
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
  @include media-query($on-laptop) {
    font-size: 36px;
  }
  margin-top: $spacing-unit
}

.post-content {
  margin-bottom: $spacing-unit;
  // max-width:
  h2 {
    font-size: 32px;
    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }
  h3 {
    font-size: 26px;
    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }
  h4 {
    font-size: 20px;
    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
  img{
    width: 100%;
  }

  //Specifically to fix for blog posts
  li{
    margin-left: $spacing-unit;
  }
}


/**
 * Sponsors page
 */

.pie-sponsor-logo {
  height: 10rem;
  margin: 1rem;
  img {
    object-fit: cover;
    height: 100%;
  }
  @media (max-width: $screen-xs-max) {
    width: 100%;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
}


/**
* Start a team
*/

#start-team h2 {
  margin: $spacing-unit*2 0 $spacing-unit/2 0;
}

#instructions-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.instructions-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.instructions {
  width: 400px;
}

.team-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  margin: 20px auto;
  font-size: 100px;
  color: white;
}

#users {
  background-color: #3F51B5;
}

#user {
  background-color: $brand-warning;
}

#pencil {
  background-color: #FFEB3B;
}

#check {
  background-color: $brand-success;
}

.instructions h2 {
  margin: 30px 0 10px 0 !important;
}

.instructions-description {
  margin: 0;
}

@media (max-width: $screen-xs-min) {

  #start-team h2 {
    margin: $spacing-unit 0 $spacing-unit/2 0;
  }

  .instructions {
    width: 350px;
  }

  .team-icon {
    height: 150px;
    width: 150px;
  }
}

#application-link {
  text-decoration: underline;
}
