/*
 * Commonly used styles
 */
.gold {
  color: $pie-gold;
}
.blue {
  color: $pie-blue;
}

/**
 * Hero unit
 */

.hero-unit {
  @extend .jumbotron; // for consistent padding, responsiveness
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  &.tall {
    // height: 80vh;
  }
  h1,
  h2 {
    color: #ffffff;
  }
  .container {
    position: relative;
  }
}

/* Applies a faded overlay to a position:relative div.
Does not work on round things. */
.fade-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/**
*Team page
*/

.staff-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-top: 30px;
}

.staff-member {
  text-align: center;
  padding: 30px 30px 5px;
  .staff-image {
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-color: #E6E6E6;
    margin: 0 auto 10px;
    img {
      @extend img-scaled-wh;
    }
  }
  .staff-description {
    p {
      margin: 0;
    }
  }
}

.team {
  .sub-heading {
  text-align: center;
  padding-top: 25px;
  }
}

#first-heading {
  margin-top: 40px;
}

#last-category {
  margin-bottom: 100px;
}

.staff-email {
  text-align: center;
  font-size: 14px;
  font-style: italic;
}

/* About Us page */

#fall-image {
  background-image: url(../assets/images/stock-images/work-in-progress.jpg);
  background-size: cover;
  background-color: #2b3d62;
  background-blend-mode: multiply;
  padding-bottom: 100%;
}

#fall-description {
  margin: 40px;
}

#fall-stuff {
  padding: 0;
}

#fall-row {
  background-color: #2b3d62;
}

#fall-description {
  color: white;
}

#spring-description {
  background-color: #FBC02D;
  font-color: #4A148C;
}

.image {
  height: 100%;
  width: 100%;
}


/**
 * Site footer
 */

.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

/**
 * Page content
 */

.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;
  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Home Page - Scott and Christian
 */

.home {
  width:95%;
  height:100%;
  margin:auto;

  h2{
    text-align:center;
  }

  img{
    display:block;
    margin:auto;
    width:55%;
  }



  .container{
    background-color: white;
    position: relative;

    padding-right: $spacing-unit;
    padding-left: $spacing-unit;

    .borderlands{
      position: absolute;
      border-color: $ram-gray;
      border-width: 2px;
    }

    .row{
      padding-bottom: $spacing-unit;
    }

    #pie-description{
      p{
        width: 80%;
        text-align: center;
        margin: auto;
      }
      image{
        margin-bottom: $spacing-unit/2;
      }
      .borderlands{
        border-left-style: solid;
        border-right-style: solid;

        width: 100%;
        height: 80%;
        top: 10%;
        right: 0px;
      }
    }

    #news{
      position: relative;

      p{
        width: 80%;
        margin: auto;
      }

      .borderlands{
        border-top-style: solid;

        width: 90%;
        top: 0px;
        right: 5%;
      }

      img{
        width: 100%;
      }
    }

    #alumni{
      position: relative;

      .borderlands{
        border-top-style: solid;

        width: 90%;
        top: 0px;
        right: 5%;
      }

    }
  }
}

/**
 * Program Pages - Christine and Gavin
 */

.big-txt {
  font-size: 10rem;
  text-align: center;

  margin: 15px;
  color: $pie-blue;
}

.big-gold-txt {
  font-size: 10rem;
  text-align: center;

  margin: 15px;
  color: $pie-gold;
}

.stats-col {
  text-align: center;
}
/*
#twentyfour {
  background-color: $pie-blue;
} */



/**
 * Posts
 */
// (christinewang): Commenting this out because we might need it later

// .post-header {
//   margin-bottom: $spacing-unit;
// }

// .post-title {
//   font-size: 42px;
//   letter-spacing: -1px;
//   line-height: 1;
//   @include media-query($on-laptop) {
//     font-size: 36px;
//   }
// }

// .post-content {
//   margin-bottom: $spacing-unit;
//   h2 {
//     font-size: 32px;
//     @include media-query($on-laptop) {
//       font-size: 28px;
//     }
//   }
//   h3 {
//     font-size: 26px;
//     @include media-query($on-laptop) {
//       font-size: 22px;
//     }
//   }
//   h4 {
//     font-size: 20px;
//     @include media-query($on-laptop) {
//       font-size: 18px;
//     }
//   }
// }
