---
layout: default
title: About Us
hero-image: url(/assets/images/stock-images/retreat-sp18-team.jpg)
hero-message: About Us
---
<div class="container">
	<div class="get-involved-navbar">
			<ul class="stripped-ulist">
					<li class="navbar-item"><a href="#mission">Mission</a></li>
					<li class="navbar-item"><a href="#team">Team</a></li>
					<li class="navbar-item"><a href="#foundation">Foundation</a></li>
					<li class="navbar-item"><a href="#reports-and-data">Reports and Data</a></li>
			</ul>
	</div>
</div>

<section style="background-color:#e1e1e1;">
	<div class="container" style="font-size:large; position: relative;">
		<div class="transparent-offset" id="mission"></div>
		<h2 class="sub-heading about-us-heading">Mission</h2>
		<p>Pioneers in Engineering (PiE) promotes science, technology, engineering, and mathematics (STEM) education through
			an exciting, mentorship-based process. PiE is a student outreach organization based in UC Berkeley and was
			founded in 2008 by members of Tau Beta Pi led by Xiao-Yu Fu. We strongly believe that no student should be denied a
			quality STEM education experience.</p>
</section>

<section>
	<div class="container" style="position: relative;">
		<div class="transparent-offset" id="team"></div>
		<h2 class="sub-heading about-us-heading">Team</h2>
		<script>
		function myFunction() {
		  // Declare variables
		  var input, filter, table, tr, td, i;
		  input = document.getElementById("myInput");
		  filter = input.value.toUpperCase();
		  table = document.getElementById("members");
		  tr = table.getElementsByClassName("card");

		  // Loop through all table rows, and hide those who don't match the search query
		  for (i = 0; i < tr.length; i++) {
		    td = tr[i].getElementsByClassName("classes")[0];
		    if (td) {
		      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
		        tr[i].style.display = "";
		      } else {
		        tr[i].style.display = "none";
		      }
		    }
		  }
		}
		</script>
		<div class="team">
		  <div class="container-fluid">
		    <ul class="nav tabs">
		      <li class="active"><a href="#staff" data-toggle="tab" aria-expanded="false">Staff</a></li>
		      <li class=""><a href="#advisors" data-toggle="tab" aria-expanded="false">Advisors/Alumni</a></li>
		    </ul>

		    <div class="tab-content">
		      <div class="tab-pane fade active in" id="staff"> <!-- first tab -->
		        <!--<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">-->
		        <h2 class="sub-heading" style="margin-bottom: 20px">Leadership</h2>
		        <div id="members" class="staff-images" style="margin-bottom: 20px">
		          {% for member in site.data.leadership %}
		          <div class="staff-member card" style="margin-bottom: 20px;">
		            <!-- <a href="/assets/images/team/{{ member.picture }}" data-toggle="lightbox" data-gallery="leaders" data-title="{{ member.name }}">
		              <img class="img-scaled-wh card-img-top staff-image" src="/assets/images/team/{{ member.picture }}" alt="">
		            </a> -->
		           	<img class="img-scaled-wh card-img-top staff-image" src="/assets/images/team/{{ member.picture }}" alt="">
		            <div class="staff-description" style="padding: 10px">
		              <h4 class="card-text" style="margin-bottom:0">{{ member.name }}</h4>
		              <h5 class="card-text" style="font-style:italic;margin-top:3px;">{{ member.title }}</h5>
		              <!--<p class="card-text classes" style="word-wrap:normal">
		                {{ member.short-bio }}
		              </p>
		              <a href="#" data-toggle="modal" data-target="#modal{{ forloop.index }}" style="margin-bottom:10px; float:right">More about me</a>-->
		            </div>
		          </div>

		          <!-- Modal -->
		          <!-- <div class="modal fade" id="modal{{ forloop.index }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		            <div class="modal-dialog" role="document">
		              <div class="modal-content">
		                <div class="modal-header">
		                  <h5 class="modal-title">{{ member.name }}</h5>
		                </div>
		                <div class="modal-body">
		                </div>
		              </div>
		            </div>
		          </div> -->
		          {% endfor %}
		        </div>
		        <hr>
		        <h2 class="sub-heading" style="margin-bottom: 20px">Project Managers</h2>
		        <div class="staff-images">
		            {% for member in site.data.project-managers %}
		            <div class="staff-member card" style="margin-bottom: 20px">
		              <div class="staff-image">
		                <!-- <a href="/assets/images/team/{{ member.picture }}" data-toggle="lightbox" data-gallery="project-managers" data-title="{{ member.name }} - {{ member.project }}">
		                <img class="img-scaled-wh" src="/assets/images/team/{{ member.picture }}" alt="">
		              </a> -->
		              	<img class="img-scaled-wh" src="/assets/images/team/{{ member.photo }}" alt="">
		              </div>
		              <div class="staff-description" style="padding: 10px">
		                <h4 class="card-text" style="margin-top: 0; margin-bottom: 7px">{{ member.name }}</h4>
		                <h5 class="card-text" style="font-style:italic;margin-top:3px;">{{ member.project }}</h5>
		              </div>
		            </div>
		            {% endfor %}
		        </div>

		        <hr>

		        <!-- All Staff And Bios -->
		        <h2 class="sub-heading" style="margin-bottom: 20px">All Staff and Bios</h2>
		        <div class="staff-images">
		            {% for member in site.data.staff-bio %}
		            <div class="staff-member card" style="margin-bottom: 20px">
		              <!--<div class="staff-image">
		                <a href="#" data-toggle="modal" data-target="#modal2{{ forloop.index }}" >
		                  <img class="img-scaled-wh" src="/assets/images/team/staff_photos/{{ member.picture }}" alt="">
		                </a>
		              </div>-->
		              <div class="staff-description" style="padding: 10px">
		                <h4 class="card-text" style="margin-top: 0; margin-bottom: 7px">{{ member.name }}</h4>
										<h5 class="card-text" style="margin-top: 0; margin-bottom: 7px">{{ member.major }}</h5>
										<!--TODO: include {{ member.year }} with suffix-->
		              </div>
		              <div><a href="#" data-toggle="modal" data-target="#modal2{{ forloop.index }}" style="margin-bottom:10px;margin-right:10px;float:right">More about me</a>
		              </div>
		            </div>

		            <!-- Modal -->
		            <div class="modal fade" id="modal2{{ forloop.index }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		              <div class="modal-dialog" role="document">
		                <div class="modal-content">
		                  <div class="modal-header">
		                    <h5 class="modal-title">{{ member.name }}</h5>
		                  </div>
		                  <div class="modal-body">
		                    <p>{{member.short-bio}}</p>
		                    {% if member.misc-info %}
		                    <h5>Misc Info / Links</h5>
		                    <p>{{ member.misc-info}} </p>
		                    {% endif %}
		                    <img class="img-scaled-wh" src="/assets/images/team/{{ member.picture }}" alt="">
		                  </div>
		                </div>
		              </div>
		            </div>
		            {% endfor %}
		        </div>
		      </div>

		      <!-- second tab starts here-->
		      <div class="tab-pane fade in" id="advisors">
		        <h2 class="sub-heading" style="margin-bottom: 20px">Faculty Advisors</h2>
		        <div class="staff-images">
		            {% for advisor in site.data.advisors %}
		            <div class="staff-member">
		              <div class="staff-image">
		                <img src="/assets/images/team/{{ advisor.picture }}" alt="" class="img-scaled-wh">
		              </div>
		              <div class="staff-description" style="margin:5px;">
		                <p>{{ advisor.name }}</p>
		                <p>{{ advisor.title }}</p>
		              </div>
		            </div>
		            {% endfor %}
		        </div>

		        <h2 class="sub-heading" style="margin-bottom: 20px">Alumni</h2>
		        <div class="staff-images">
		            {% for alumnus in site.data.alumni %}
		            <div class="staff-member card" style="margin-bottom: 20px">
		              <div class="staff-image">
		                <!-- <a href="/assets/images/team/{{ alumnus.picture }}" data-toggle="lightbox" data-gallery="project-managers" data-title="{{ alumnus.name }}">
		                  <img class="img-scaled-wh" src="/assets/images/team/{{ alumnus.picture }}" alt="">
		                </a> -->
		                <img class="img-scaled-wh" src="/assets/images/team/{{ alumnus.picture }}" alt="">
		              </div>
		              <div class="staff-description" style="padding: 10px">
		                <h4 class="card-text" style="margin-top: 0; margin-bottom: 7px">{{ alumnus.name }}</h4>
		                <p class="card-text">{{ alumnus.title }}</p>
		              </div>
		            </div>
		            {% endfor %}
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
		<script type="text/javascript">
		    $(document).ready(function ($) {
		        // delegate calls to data-toggle="lightbox"
		        $(document).delegate('*[data-toggle="lightbox"]:not([data-gallery="navigateTo"])', 'click', function(event) {
		            event.preventDefault();
		            return $(this).ekkoLightbox({
		                onShown: function() {
		                    if (window.console) {
		                        return console.log('Checking out the events huh?');
		                    }
		                },
		    onNavigate: function(direction, itemIndex) {
		                    if (window.console) {
		                        return console.log('Navigating '+direction+'. Current item: '+itemIndex);
		                    }
		    }
		            });
		        });
		        //Programatically call
		        $('#open-image').click(function (e) {
		            e.preventDefault();
		            $(this).ekkoLightbox();
		        });
		        $('#open-youtube').click(function (e) {
		            e.preventDefault();
		            $(this).ekkoLightbox();
		        });
		// navigateTo
		        $(document).delegate('*[data-gallery="navigateTo"]', 'click', function(event) {
		            event.preventDefault();
		            var lb;
		            return $(this).ekkoLightbox({
		                onShown: function() {
		                    lb = this;
		      $(lb.modal_content).on('click', '.modal-footer a', function(e) {
		        e.preventDefault();
		        lb.navigateTo(2);
		      });
		                }
		            });
		        });
		    });
		</script>
	</div>
</section>
<section style ="background-color:#e1e1e1;">
			<div class="container" style="position: relative;">
        <div class="transparent-offset" id="foundation"></div>
				<h2 class="sub-heading about-us-heading">PiE Foundation</h2>
		      <div class="col-md-7"> <!-- first colummn -->

		<div>
		    <h3 id="mission">Mission</h3>
		    <p>The Pioneers in Engineering Foundation is an independent, tax-exempt 501(c)(3) non-profit organization. Its mission is to promote STEM education through an exciting, mentor-based process.</p>

		    <h3 id="donate">Donate</h3>
		    <p>Donations to PiE are tax-deductible subject to federal and state charitable giving rules. If you would like to make a donation, please <a href="/support-pie/"> donate online now </a> or email <a href="mailto:foundation@pioneers.berkeley.edu"> foundation@pioneers.berkeley.edu </a> to arrange your gift.</p>

		    <h3 id="board-of-directors-and-executive-officers">Board of Directors and Executive Officers</h3>
		    <p>The PiE Foundation is led by a board of current and former PiE members.</p>

		    <div class="col-md-6">
		<div>
		        <h4 id="executive-officers">Executive Officers</h4>
		        <ul>
		          <li><b>Secretary:</b> Winston Long</li>
		          <li><b>CEO:</b> Vivien Nguyen</li>
							<li><b>Treasurer:</b> Jehan Yang</li>
		        </ul>

		      </div>
		</div>

		    <div class="col-md-6">
		<div>
		        <h4 id="board-members">Board Members</h4>
		        <ul>
							<li>Xiao-Yu Fu</li>
							<li>James Hulett</li>
							<li>William Li</li>
							<li>Karen Lee</li>
							<li>Kirsten Nguyen</li>
		          <li>Briana Niu</li>
              <li>Tomoya Ogura</li>
							<li>Seiya Ono</li>
							<li>Scott Numamoto</li>
							<li>Dennis Wai</li>
		          <li>Alan Zhang</li>
		        </ul>

		      </div>
		</div>

		    <h3 id="acknowledgement">Acknowledgement</h3>
		    <p>In 2015, Pioneers in Engineering obtained 501(c)(3) nonprofit status with the help of <a href="http://www.fr.com/michael-m-rosen/">Michael M. Rosen</a> of <a href="http://www.fr.com/">Fish and Richardson</a>.</p>
		  </div>

		</div>
		<p><!-- end of first column --></p>

		<div class="col-md-5"> <!-- second column -->
		<div>
		    <h3 id="information">Information</h3>

		    <h4 id="tax">Tax</h4>
		    <ul>
		      <li>EIN 47-4554504</li>
		      <li><a href="/assets/sponsors/pief_determination_letter.pdf">IRS Determination Letter</a></li>
		    </ul>

		    <p><br><br></p>

		    <h4 id="contact-us">Contact Us</h4>

		    <p>Pioneers in Engineering Foundation 1862 Arch St Apt 4 Berkeley, CA 94709</p>

				{% email foundation@pioneers.berkeley.edu %}
				<!--
		    <script type="text/javascript"> document.write('<a style="unicode-bidi: bidi-override; direction: rtl;" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;foundation&#64;pioneers&#46;berkeley&#46;edu">ude&#46;yelekreb&#46;sreenoip&#64;noitadnuof</a>');</script><a style="unicode-bidi: bidi-override; direction: rtl;" href="mailto:foundation@pioneers.berkeley.edu">ude.yelekreb.sreenoip@noitadnuof</a>
				-->
		  </div>

</div>
<p><!-- end second column --></p>

    </div>
</section>
<section>
	<div class="container" style="position: relative;">
		<div class="transparent-offset" id="reports-and-data"></div>
		<h2 class="sub-heading">Annual Reports</h2>
		<p>For more information about the participants of our past season, take look at our annual reports.</p>
		<table class="table table-striped table-hover ">
			<thead>
				<tr>
					<th>Title</th>
					<th>Date posted</th>
					<th>Download</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Annual Report 2015</td>
					<td>October 11, 2015</td>
					<td> <a class="pdf-link" href="{{site.baseurl}}/assets/financial-reports/2015-report.pdf">PDF <i class="fa fa-download"></i></a></td>
				</tr>
				<tr>
					<td>Annual Report 2014</td>
					<td></td>
					<td> <a class="pdf-link" href="{{site.baseurl}}/assets/financial-reports/2014-report.pdf">PDF <i class="fa fa-download"></i></a></td>
				<tr>
					<td>Annual Report 2012</td>
					<td></td>
					<td> <a class="pdf-link" href="{{site.baseurl}}/assets/financial-reports/2012-report.pdf">PDF <i class="fa fa-download"></i></a></td>
				</tr>
				<tr>
					<td>Annual Report 2011</td>
					<td>August 23, 2011</td>
					<td> <a class="pdf-link" href="{{site.baseurl}}/assets/financial-reports/2011-report.pdf">PDF <i class="fa fa-download"></i></a></td>
				</tr>
			</tbody>
		</table>
		<center>
			{% include pie-data.html %}
		</center>
	</div>
</section>

<script>
	$('a[href^="#"]').on('click', function(event) {
		// Make sure this.hash has a value before overriding default behavior
		console.log("uuhhhhh")
		if (this.hash !== "") {
			// Prevent default anchor click behavior
			event.preventDefault();
			console.log("eheheh")
			// Store hash
			var hash = this.hash;
			var scrollToPosition = $(hash).offset().top;
			// Using jQuery's animate() method to add smooth page scroll
			// The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
			$('html, body').animate({
				'scrollTop': scrollToPosition
			}, 800, function(){
				// Add hash (#) to URL when done scrolling (default click behavior)
				window.location.hash = hash;
				// Force back to end of animation
			});
		} // End if
	});
</script>
