---
layout: default
title: The Team
hero-image: url(../assets/images/stock-images/group.jpg)
hero-message: Meet the PiE Team
hero-button: Join Us!
hero-button-url: ../get-involved/join-staff.html
---
<!---->
<script>
function myFunction() {
  // Declare variables 
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("members");
  tr = table.getElementsByClassName("card");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByClassName("classes")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    } 
  }
}
</script>
<div class="team">

  <div class="container-fluid">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#staff" data-toggle="tab" aria-expanded="false">Staff</a></li>
      <li class=""><a href="#advisors" data-toggle="tab" aria-expanded="false">Advisors/Alumni</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade active in" id="staff"> <!-- first tab -->
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
        <h2 class="sub-heading">Leadership</h2>
        <div id="members" class="staff-images">
          {% for member in site.data.leadership %}
          <div class="staff-member card" style="width: 250px">
            <a href="../assets/images/team/{{ member.picture }}" data-toggle="lightbox" data-gallery="leaders" data-title="{{ member.name }}">
              <img class="img-scaled-wh card-img-top staff-image" style="" src="../assets/images/team/{{ member.picture }}" alt="">
            </a>
            <div class="card-block" style="padding:0 10px">
              <h4 class="card-text" style="margin-bottom:0">{{ member.name }}</h4>
              <h5 class="card-text" style="font-style:italic;margin-top:3px;">{{ member.title }}</h5>
              <p class="card-text classes" style="word-wrap:normal">
                {{ member.short-bio }}
              </p>
              <a href="#" class="btn btn-primary" style="margin-bottom:10px; float:right">More about me</a>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="staff-email">{% email leadership@pioneers.berkeley.edu %}</div>

        <h2 class="sub-heading">Project Managers</h2>
        <div class="staff-images">
            {% for member in site.data.project-managers %}
            <div class="staff-member card" style="margin-bottom: 20px">
              <div class="staff-image">
                <a href="../assets/images/team/{{ member.picture }}" data-toggle="lightbox" data-gallery="project-managers" data-title="{{ member.name }} - {{ member.project }}">
                <img class="img-scaled-wh card-img-top staff-image" style="" src="../assets/images/team/{{ member.picture }}" alt="">
              </a>
              </div>
              <div class="staff-description" style="margin:5px">
                <p style="font-size: 110%">{{ member.name }}</p>
                <p>{{ member.project }}</p>
              </div>
            </div>
            {% endfor %}
        </div>
      </div>

      <div class="tab-pane fade in" id="advisors"> <!-- second tab -->
        <h2 class="sub-heading">Faculty Advisors</h2>
        <div class="staff-images">
            {% for advisor in site.data.advisors %}
            <div class="staff-member">
              <div class="staff-image">
                <img src="../assets/images/team/{{ advisor.picture }}" alt="" class="img-scaled-wh">
              </div>
              <div class="staff-description" style="margin:5px;">
                <p>{{ advisor.name }}</p>
                <p>{{ advisor.title }}</p>
              </div>
            </div>
            {% endfor %}
        </div>

        <h2 class="sub-heading">Alumni</h2>
        <div class="staff-images">
            {% for alumnus in site.data.alumni %}
            <div class="staff-member card" style="margin-bottom: 20px">
              <div class="staff-image">
                <img src="../assets/images/team/{{ alumnus.picture }}" alt="" class="img-scaled-wh">
              </div>
              <div class="staff-description" style="margin:5px">
                <p style="font-size: 110%">{{ alumnus.name }}</p>
                <p>{{ alumnus.title }}</p>
              </div>
            </div>
            {% endfor %}

            <!-- <div class="staff-member">
              <div class="staff-image">
                <img src="../assets/images/team/jackie.jpg" alt="">
              </div>
              <div class="staff-description">
                <p>Jackie Ko</p>
                <p>Advisor | UC Berkeley</p>
              </div>
            </div> -->

        </div>
      </div>

    </div>

  </div>

</div>

<script type="text/javascript">
    $(document).ready(function ($) {
        // delegate calls to data-toggle="lightbox"
        $(document).delegate('*[data-toggle="lightbox"]:not([data-gallery="navigateTo"])', 'click', function(event) {
            event.preventDefault();
            return $(this).ekkoLightbox({
                onShown: function() {
                    if (window.console) {
                        return console.log('Checking out the events huh?');
                    }
                },
    onNavigate: function(direction, itemIndex) {
                    if (window.console) {
                        return console.log('Navigating '+direction+'. Current item: '+itemIndex);
                    }
    }
            });
        });
        //Programatically call
        $('#open-image').click(function (e) {
            e.preventDefault();
            $(this).ekkoLightbox();
        });
        $('#open-youtube').click(function (e) {
            e.preventDefault();
            $(this).ekkoLightbox();
        });
// navigateTo
        $(document).delegate('*[data-gallery="navigateTo"]', 'click', function(event) {
            event.preventDefault();
            var lb;
            return $(this).ekkoLightbox({
                onShown: function() {
                    lb = this;
      $(lb.modal_content).on('click', '.modal-footer a', function(e) {
        e.preventDefault();
        lb.navigateTo(2);
      });
                }
            });
        });
    });
</script>