---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Fonts
$source-sans: "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" !default;
$open-sans: "https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" !default;
@mixin web-font($path){
  @import url("#{$path}");
}
@include web-font($source-sans);
@include web-font($open-sans);

// Our variables
$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
// $pie-blue:         #363895;
$pie-blue:         #2b3d62; // Blue used in Open Source website
$pie-gold:         #c7aa36;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1200px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "bootstrap",
        "base",
        "bootswatch",
        "layout",
        "syntax-highlighting"
;
