---
layout: default
hero-image: url(../assets/images/stock-images/blog.jpg)
hero-message: PiE Blog
---

<div class="container">
{% for page in site.posts %}
{% if page.hide == true %} {% continue %} {% endif %}
<div class="container">
  <div class="post">
    <header class="post-header">
      <h1 class="post-title"><a href="{{ page.url | prepend: site.baseurl }}">{{page.title}}</a></h1>
      <p class="post-meta">{% if page.author %} Written by {{ page.author }} on {% endif %}{{ page.date | date: "%b %-d, %Y" }}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>

    <article class="post-content">
    	<div class="container-fluid">
	    	<div class="row">
	    		<div class="col-md-7">
	      			{{ page.content }}
	      		</div>
	      		<div class="col-md-5">
            {% if page.image %}
	      			<img src="{{site.baseurl}}/assets/images/blog/{{ page.image }}">
            {% endif %}
	      		</div>
	  		</div>
    	</div>
    </article>
  </div>
</div>
{% endfor %}
</div>