---
layout: default
hero-image: url(/assets/images/stock-images/pie-staff.jpg)
hero-message: Get Involved!
---
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        // Add smooth scrolling for links to '#' id'd sections
        $('a[href^="#"]').on('click', function(event) {

          // Make sure this.hash has a value before overriding default behavior
          if (this.hash !== "") {
            // Prevent default anchor click behavior
            event.preventDefault();

            // Store hash
            var hash = this.hash;
            var scrollToPosition = $(hash).offset().top;
            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
            $('html, body').animate({
              'scrollTop': scrollToPosition
            }, 800, function(){
              // Add hash (#) to URL when done scrolling (default click behavior)
              window.location.hash = hash;
              // Force back to end of animation
            });
          } // End if
        });
    })
</script>

<div class="container">
    <ul>
        <li><a href="#why-join-pie">Why Join PiE?</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#volunteer">Volunteer</a></li>
        <li><a href="#faq">FAQ</a></li>
    </ul>
    <h1 style="text-align: center">Join PiE Staff</h1>

    <!--WHAT WE DO-->
    <div class="rc-row vertical-align" >
        <div class="text-col text-left" id="fall-row" style="border-right: 6px solid white">
            <div class="graphic-description">
                <h3>ENGINEERING</h3>
                <p>We're mechanical engineers, software engineers, electrical engineers, industrial engineers. We build, design, reiterate, and improve with industry-grade products, and we plan and coordinate events, building relations with sponsors and organizations.</p>
                <h2><i class="fa fa-wrench"></i> <i class="fa fa-laptop"></i> <i class="fa fa-cogs"></i></h2>
            </div>
        </div>
        <div class="text-col text-right pull-right" id="spring-row"  style="border-left: 6px solid white">
            <div class="graphic-description">
                <h3>OUTREACH</h3>
                <p>We're UC Berkeley students who care about making a difference in the lives of underrepresented students through STEM education. We run scholarship funds, workshops, and we teach students professional and life skills that can stay with them.</p>
                <h2><i class="fa fa-heart"></i> <i class="fa fa-users"></i> <i class="fa fa-book"></i></h2>
            </div>
        </div>
    </div>

    <hr style="height: 3px">

    <div id="fall-row" class="rc-row vertical-align">
        <div style="min-width: 300px; margin: 0 auto;" class ="image-col embed-responsive embed-responsive-16by9">
          <iframe class ="embed-responsive-item" src="https://www.youtube.com/embed/IQ-xtgo2VG4" allowfullscreen></iframe>
        </div>
        <div class="text-col text-left">
            <div class="graphic-description">
                <h3>COMPETITION</h3>
                <p>Our capstone: an annual robotics competition for undeserving high school students in schools in the Bay Area. 10 years in the running. More than $30,000 per year in funding. Run completely by UC Berkeley students. Lots of robots.</p>
            </div>
        </div>
    </div>

    <hr style="height: 10px">

    <!-- PiE Staff Roles -->
    <div class="row">
        <div class="pie-jumbotron" style="margin: 0">
            <h2 align="center">PiE Staff Roles</h2>
            <div class="row">
                <div class="col-sm-3" style="text-align: center">
                    <h3>Engineering</h3>
                    <p>Mechanical, Electrical, Software</p>
                </div>
                <div class="col-sm-3" style="text-align: center">
                    <h3>Programs</h3>
                    <p>Game Design, Events, Schools</p>
                </div>
                <div class="col-sm-3" style="text-align: center">
                    <h3>Outreach</h3>
                    <p>Mentorship, Workshops, Metrics</p>
                </div>
                <div class="col-sm-3" style="text-align: center">
                    <h3>Operations</h3>
                    <p>Business, Web Applications, Staff</p>
                </div>
            </div>
            <div style="text-align: center">
                <a class="btn btn-primary" href="#projects">See full list of projects!</a>
                <a class="btn btn-info" href="#faq">Click here for FAQ!</a>
            </div>
        </div>
    </div>

    <!-- TODO: Staff Benefits -->

    <!-- TODO: Staff Work Schedule -->

    <!-- Become a Member -->
    <h2 style="text-align: center">Become a Member</h2>
    <p>Want to help out? Here at PiE, we don't have an application process. Rather, we firmly believe that any UC Berkeley student who is interested in our club has something to offer, whether community-wise, project-wise, or anything else that we can't think of ourselves! Simply fill out the forms or come check out worksession and we'll get you started!<p>
    <div style="text-align: center">
        <a class="btn btn-primary"
            href="https://docs.google.com/forms/d/1Yiyzjsyio_bC4FRvGLdYg7EoBzHKdJ4ZJYyrRlnuTOM/viewform">
            2017 Interest Form
        </a>
        <a class="btn btn-info" href="/get-involved/forms.html">Member Official Forms</a>
    </div>
    <hr>

    <!-- Why Join PIE -->
    <div style="position: relative">
        <h1 style="text-align: center">Why Join Pie?</h1>
        <div class="transparent-offset" id="why-join-pie"></div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2 class="gold-text">Professional Development</h2>
            <p>
                Learn hands-on engineering, coding, and finacne skills all the while making important connections with industry professionals and experienced UC Berkeley students.
            </p>
            <h2 class="blue-text">Community</h2>
            <p>
                PiE is an organization of peers, a collection of friends, and a found family. From biannual retreats to spontatnous dinner outings, we've always got comething fun to do.
            </p>
        </div>
        <div class="col-md-6">
            <h2 class="blue-text">Resources</h2>
            <p>
                We have the tools, te space, and the brainpower for you to do great things. Whether you need a workbench or a helping hand, we've got it.
            </p>
            <h2 class="gold-text">Outreach</h2>
            <p>
                PiE has served over 30 schools and 700 students in the Bay Area. We believe Stem education should be fun and acessible. Join us in our mission to lead, educate, and inspire.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
            <p>
                Many former PiE staff have research positions or are in grad school; many others have had internships or now work at top companies.
            </p>
        </div>
        <div class="col-sm-2">
            <p>
                Learn about project management. Get feedback on and experice at making real products for real people.
            </p>
        </div>
        <div class="col-sm-2">
            <p>
                Got a new board game to try out? Need a ranked 5's team? Kayaking? PiE staff have diverse recreational interests.
            </p>
        </div>
        <div class="col-sm-2">
            <p>
                Design lessons for high school students. Teach fellow staff how to do cool thinds. We are designers, leaders, and Pioneers.
            </p>
        </div>
        <div class="col-sm-2">
            <p>
                Our clubroom, 101 O'Brien, is the 3rd largest student organization space on campus. We have places to study, work on projects, and chill between classes.
            </p>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <hr>

    <div style="position: relative">
        <h1 style="text-align: center">Projects</h1>
        <div class="transparent-offset" id="projects"></div>
    </div>
    <div class="container">
      {% for department in site.data.project_departments %}
        <h2 style="text-align: center">{{ department.name }}</h2>
        {% for project in site.data.projects%}
          {% if project.department == department.name %}
            <div class="pie-jumbotron">
              <div class="row">
                <div class="col-xs-12 col-sm-4">
                  <h3 style="text-align: center">{{ project.project  }}</h3>
                  {% if project.department == 'Kit Engineering Projects' %}
                  <h4 style="text-align: center">{{ project.subdepartment  }}</h3>
                  {% endif %}
                </div>
                <div class="col-xs-12 col-sm-8">
                  {% if project.manager %}<h4>PM: {{ project.manager  }}</h4>{% endif %}
                  <p>{{ project.description }}</p>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
    <hr>

    <div style="position: relative">
        <h1 style="text-align: center">Volunteer</h1>
        <div class="transparent-offset" id="volunteer"></div>
    </div>
    <div class="container">
        <p>
            We are looking for professors and industry professionals to volunteer at our events. You can help us by being a judge at our Design Reviews and/or Final Competition.
        </p>
        <p>
            Please contact us at <a href="partnerships@pioneers.berkeley.edu"> presentationerships@pioneers.berkeley.edu</a>
        </p>

    <!--   <div class="panel panel-info">
        <div class="panel-heading">
          The 2013 Robotics Competition season is now over.
        </div>
        <div class="panel-body">
          Thank you to all of the judges for their help with the 2013 Design Reviews and Fall Competition!  We are always looking for judges for next year's Design Reviews and Fall Competition, so please do not hesitate. Contact us at {% email partnerships@pioneers.berkeley.edu %}!
        </div>
      </div>
     -->
    <div class="row">
        <div id="design-review-judge" class="col-sm-6">
            <h2>Design Review Judge</h2>
            <p>
                We require each high school team to give a presentation to a panel of professors and industry professionals during the first few weeks of the competition season. The purpose of the reviews is to encourage high school students to present their ideas and to receive feedback on their design.
            </p>
        </div>
        <div id="final-comp-judge" class="col-sm-6">
            <h2>Final Competition Judge</h2>
            <p>
                At Final Competition, teams can earn awards for superior mechanical, electrical, and software robot design. We invite professors and industry professionals to judge these designs and decide on an award winner in each category.
            </p>
        </div>
      </div>
    </div>
    <hr>

    <div style="position: relative">
        <h1 style="text-align: center">FAQ</h1>
        <div class="transparent-offset" id="faq"></div>
    </div>
    <div class="container">
        {% for qa in site.data.faq %}
            <div>
                <i><h3 style="cursor: pointer;" data-toggle="collapse" data-target="#collapse{{ forloop.index }}">
                    + {{ qa.question }}
                </h3></i>
            </div>
            <p class="collapse" id="collapse{{ forloop.index }}">{{ qa.answer }}</p>
        {% endfor %}
    </div>
</div>



<!--
Are you interested in joining the more than 80 active staff members of PiE? We currently have [over 20 different projects](../get-involved/faq.html#projects) for you to get involved in. Pioneers in Engineering is an excellent way to get involved in outreach through engineering - your work in PiE will reach hundreds of Bay Area high school students. Our organization is entirely student run and depends on the efforts and contributions of students like you.


If you’re looking to get involved, or just want more information about us, shoot an email to <a href="mailto:recruiting@pioneers.berkeley.edu">recruiting@pioneers.berkeley.edu</a> or fill out [this interest form](https://docs.google.com/forms/d/1Yiyzjsyio_bC4FRvGLdYg7EoBzHKdJ4ZJYyrRlnuTOM/viewform) to join our mailing list! You can also drop by our weekly work sessions - catch us in the 3rd Floor O’Brien Breezeway (the glass hallway between McLaughlin and O’Brien) on Wednesdays from 7-9 PM and Saturdays from 1-3 PM, starting September 12.


[Check out some frequently asked questions about joining PiE staff!](../get-involved/faq.html)

[<img class="img-responsive" src="{{ '/assets/images/join-staff/whyjoinpie.png' | prepend: site.baseurl }}">]({{ '/assets/images/join-staff/whyjoinpie.png' | prepend: site.baseurl }}){:target="_blank"}
-->

<!-- other student groups, make new page?
<h1>Other Student Groups on Campus</h1>

Berkeley has lots of other student groups related to engineering or community outreach - here’s a small selection below!

<h1>Robotics@Berkeley</h1>
Robotics@Berkeley is a student group committed to lowering the barriers to starting robotics projects and joining the robotics community at Cal. They strive to create a financial, social, and informational hub for undergraduate roboticists at UC Berkeley by:

1. Providing monetary, informational, and administrative support for students’ robotics-related projects and competition teams,
2. Collecting and publicizing information about and opportunities in UC Berkeley’s robotics-related student groups and research labs, and
3. Organizing socially and intellectually engaging events for roboticists of all ages, majors, and interests.

You can check out more about their group on their website [here](https://rab.berkeley.edu), along with a list of other robotics organizations they list [here](https://rab.berkeley.edu/related/clubs).
-->
