---
layout: default
hero-image: url(/assets/images/stock-images/pie-staff.jpg)
hero-message: Get Involved!
---
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        // Add smooth scrolling for links to '#' id'd sections
        $('a[href^="#"]').on('click', function(event) {

          // Make sure this.hash has a value before overriding default behavior
          if (this.hash !== "") {
            // Prevent default anchor click behavior
            event.preventDefault();

            // Store hash
            var hash = this.hash;
            var scrollToPosition = $(hash).offset().top;
            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
            $('html, body').animate({
              'scrollTop': scrollToPosition
            }, 800, function(){
              // Add hash (#) to URL when done scrolling (default click behavior)
              window.location.hash = hash;
              // Force back to end of animation
            });
          } // End if
        });
    })
</script>

<div class="container">
    <!-- mini nav -->
    <div class="get-involved-navbar">
        <ul class="stripped-ulist">
            {% if site.data.recruiting.active %}
                <li class="navbar-item"><a href="#fall-recruiting">Fall Recruiting</a></li>
            {% endif %}
            <li class="navbar-item"><a href="#member">Membership</a></li>
            <li class="navbar-item"><a href="#why-join-pie">Why Join PiE?</a></li>
            <li class="navbar-item"><a href="#mentor">Mentor</a></li>
            <li class="navbar-item"><a href="#projects">Projects</a></li>
            <li class="navbar-item"><a href="#volunteer">Volunteer</a></li>
            <li class="navbar-item"><a href="#faq">FAQ</a></li>
        </ul>
    </div>

    <!-- Fall Recruiting -->
    {% if site.data.recruiting.active %}
      <div style="position: relative">
        <h1 style="text-align: center">Join us for Fall 2019 recruiting!</h1>
        <div class="transparent-offset" id="fall-recruiting"></div>
      </div>
      <p>
        We've got a great lineup of events ready to welcome you (back) to Berkeley.
        Come to an infosession to find out what we're all about, then pick and choose from our "welcome week" of socials, where you'll get a chance to mingle with leadership, project managers, and other PiE members as you enjoy free snacks and other activities.
        Finally, decide which project team you want to help out with at Project Expo.
        We believe that everyone can find a place to contribute in PiE, regardless of year or major, so don't hesitate to come out!
        You'll also be able to find us tabling at <a href="https://lead.berkeley.edu/calapalooza/">Calapalooza</a> and regularly on Sproul.
      </p>
      <p>
        <a href="https://calendar.google.com/calendar/embed?src=pioneers.berkeley.edu_4vdtnqvtt5hlcnc54n7i52en88%40group.calendar.google.com&ctz=America%2FLos_Angeles">Add our Google calendar</a> (plus sign on the bottom right)
      </p>
      <div class="container">
        {% for week in site.data.recruiting.events_by_week %}
          <h2 style="text-align: center">Week {{ forloop.index }}{% if week.name %}: {{ week.name }}{% endif %}</h2>
          <table class="table table-striped table-hover">
            <thead>
              <th style="width:25%">Event</th>
              <th>Location</th>
              <th style="width:18%">Time</th>
              <th style="width:40%">Description</th>
            </thead>
            <tbody>
              {% for event in week.events %}
                <tr>
                  <td>{{ event.name }}</td>
                  <td>
                    {{ event.location }}
                    {% if event.map %}
                      [<a target="_blank" href="{{ event.map }}">map</a>]
                    {% endif %}
                  </td>
                  <td>
                    {{ event.start | date: '%A %m/%d, %l %p' }} - {{ event.end | date: '%l' }}
                    {% if event.calendar %}
                      [<a target="_blank" href="{{ event.calendar }}">add to calendar</a>]
                    {% endif %}
                  </td>
                  <td>{{ event.description | default: "No description yet" }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p>
            There are no recruiting events at this time.
            However, we are always looking for new staff!
          </p>
        {% endfor %}
      </div>
    {% endif %}

    <!-- Become a Member -->
    <div style="position: relative">
        <h1 style="text-align: center">Become a Member</h1>
        <div class="transparent-offset" id="member"></div>
    </div>
    <p>Want to help out? Here at PiE, we don't have an application process. Rather, we firmly believe that any UC Berkeley student who is interested in our club has something to offer, whether community-wise, project-wise, or anything else that we can't think of ourselves! Simply fill out the forms or come check out worksession and we'll get you started!<p>
      <div class="container">
    		<table class="table table-striped table-hover ">
    			<thead>
    				<tr>
    					<th>Worksession Time</th>
              <th>Location</th>
    				</tr>
    			</thead>
    			<tbody>
    				<tr>
    					<td>Wednesday 7 - 9 PM</td>
    					<td>
                            145 McCone (Announcements), then 101 O'Brien or O'Brien Breezeway 2nd Floor (depending on team)
                            [<a href="https://www.google.com/maps/d/viewer?mid=1oVx7EYV75dEXgJSlpPmbfQ2R_dWQ26iI&ll=37.874551694807685%2C-122.2592228994057&z=18">map</a>]
                        </td>
    				</tr>
    				<tr>
    					<td>Saturday 1 - 3 PM</td>
    					<td>
                            101 O'Brien or O'Brien Breezeway 2nd Floor (depending on team)
                            [<a href="https://www.google.com/maps/d/viewer?mid=1oVx7EYV75dEXgJSlpPmbfQ2R_dWQ26iI&ll=37.874551694807685%2C-122.2592228994057&z=18">map</a>]
                        </td>
                    </tr>
    			</tbody>
    		</table>
    	</div>
    <div style="text-align: center">
        <a class="btn btn-info" href="/get-involved/forms">Join Now</a>
    </div>
    <hr>
    <!-- Why Join PIE -->
    <div style="position: relative">
        <h1 style="text-align: center">Why Join Pie?</h1>
        <div class="transparent-offset" id="why-join-pie"></div>
    </div>

    <div class="pie-jumbotron button-holder">
    <div class="row">
        <div class="col-md-4">
            <h2 class="gold-text">Professional Development</h2>
            <img src="/assets/images/why_join_pie/prof_dev.png" style="width: 80px; margin: 10px; display: block; float: left" />
            <p>
                Learn hands-on engineering, coding, and finance skills all the while making important connections with industry professionals and experienced UC Berkeley students.
            </p>
            <h2 class="blue-text">Community</h2>
            <img src="/assets/images/why_join_pie/community.png" style="width: 80px; margin: 0; display: block; float: right" />
            <p>
                PiE is an organization of peers, a collection of friends, and a found family. From biannual retreats to spontaneous dinner outings, we've always got comething fun to do.
            </p>
        </div>
        <div class="col-md-4">
            <img src="/assets/images/why_join_pie/logo_transparent.png" class="hidden-xs hidden-sm hidden-md" style="width: 100%; display: block; margin-left: auto; margin-right: auto; position: relative; top: 45px;" />
            <img src="/assets/images/why_join_pie/logo_transparent.png" class="visible-md" style="width: 100%; display: block; margin-left: auto; margin-right: auto; position: relative; top: 100px;" />
        </div>
        <div class="col-md-4">
            <h2 class="blue-text">Resources</h2>
            <p>
                We have the tools, the space, and the brainpower for you to do great things. Whether you need a workbench or a helping hand, we've got it.
                <img src="/assets/images/why_join_pie/resources.png" style="width: 80px; margin: 10px; display: block; float: right" />
            </p>
            <h2 class="gold-text">Outreach</h2>
            <img src="/assets/images/why_join_pie/outreach.png" style="width: 80px; margin: 15px; display: block; float: left" />
            <p>
                PiE has served over 30 schools and 700 students in the Bay Area. We believe STEM education should be fun and acessible. Join us in our mission to lead, educate, and inspire.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <img src="/assets/images/why_join_pie/col_pie_staff.png" style="height: 100px; display: block; margin-left: auto; margin-right: auto;" />
            <p style="text-align: center">
                Many former PiE staff have research positions or are in grad school; many others have had internships or now work at top companies.
            </p>
        </div>
        <div class="col-md-2">
            <img src="/assets/images/why_join_pie/col_project_manager.png" style="height: 100px; display: block; margin-left: auto; margin-right: auto;" />
            <p style="text-align: center">
                Learn about project management. Get feedback on and experice at making real products for real people.
            </p>
        </div>
        <div class="col-md-2">
            <img src="/assets/images/why_join_pie/col_games.png" style="height: 100px; display: block; margin-left: auto; margin-right: auto;" />
            <p style="text-align: center">
                Got a new board game to try out? Need a ranked 5's team? Kayaking? PiE staff have diverse recreational interests.
            </p>
        </div>
        <div class="col-md-2">
            <img src="/assets/images/why_join_pie/col_design_lessons.png" style="height: 100px; display: block; margin-left: auto; margin-right: auto;" />
            <p style="text-align: center">
                Design lessons for high school students. Teach fellow staff how to do cool things. We are designers, leaders, and Pioneers.
            </p>
        </div>
        <div class="col-md-2">
            <img src="/assets/images/why_join_pie/col_clubroom.png" style="height: 100px; display: block; margin-left: auto; margin-right: auto;" />
            <p style="text-align: center">
                Our clubroom, 101 O'Brien, is the 3rd largest student organization space on campus. We have places to study, work on projects, and chill between classes.
            </p>
        </div>
        <div class="col-md-1"></div>
    </div>
        <a class="btn btn-primary"
            href="https://docs.google.com/presentation/d/1cU-PDrUqeq-kEIFlBmineutl2i3nWmEQ6CZSABVlWtw/edit">
            Fall Infosession Slides
        </a>
        <a class="btn btn-primary" href="#projects">See full list of projects!</a>
        <a class="btn btn-primary" href="#faq">Click here for FAQ!</a>
    </div>
    <hr>

    <!-- Mentor -->
    <div style="position: relative">
        <h1 style="text-align: center">Become a Mentor</h1>
        <div class="transparent-offset" id="mentor"></div>
        <div id="gold-row" class="rc-row vertical-align" style="background-color: #e6e6e6">
            <div class="text-col text-left" style="width: 100%; padding: 2rem 0">
                <div class="pie-jumbotron" style="margin: 0 auto">
                    <p>Interested in participating in PiE's mission by becoming a mentor and role model for a team of high school students? PiE RC DeCal, offered every spring, offers just that!<p>
                    <ul>
                        <li>Learn robotics</li>
                        <li>Teach and bond with a team of passionate high school students</li>
                        <li>Earn units</li>
                        <li>Satisfy teaching experience requirements</li>
                        <li>Tons of fun!</li>
                    </ul>
                    <a class="btn btn-primary" href="/get-involved/become-mentor">More about Mentoring</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Projects -->
      <div style="position: relative">
          <h1 style="text-align: center">Projects</h1>
          <div class="transparent-offset" id="projects"></div>
      </div>
          <!-- PiE Staff Roles -->
          <div class="row">
              <div class="pie-jumbotron" style="margin: 0">
                  <div class="row">
                      <div class="col-sm-3" style="text-align: center">
                          <h3>Engineering</h3>
                          <p>Mechanical, Electrical, Software</p>
                      </div>
                      <div class="col-sm-3" style="text-align: center">
                          <h3>Programs</h3>
                          <p>Game Design, Events, Schools</p>
                      </div>
                      <div class="col-sm-3" style="text-align: center">
                          <h3>Outreach</h3>
                          <p>Mentorship, Workshops, Metrics</p>
                      </div>
                      <div class="col-sm-3" style="text-align: center">
                          <h3>Operations</h3>
                          <p>Business, Web Applications, Staff</p>
                      </div>
                  </div>
              </div>
          </div>

          {% for department in site.data.project_departments %}
          	<h2 style="text-align: center">{{ department.name }}</h2>
			<hr>
			 <div class="staff-images">
          	{% for project in site.data.projects%}
				{% if project.department == department.name %}
          	  		<div class="staff-member card" style="margin-bottom: 20px">
            		<div class="staff-description" style="padding: 10px">
              		<h4 class="card-text" style="margin-top: 0; margin-bottom: 7px">{{ project.project }}</h4>
              <h5 class="card-text" style="margin-top: 0; margin-bottom: 7px"> {% if project.department == 'Kit Engineering Projects' %} {{ project.subdepartment  }} {% endif %} {% if project.manager %} <h5 class="card-text" style="margin-top: 0; margin-bottom: 7px"> PM: {{ project.manager }} {% endif %} </h5></h5>
            </div>
            <div><a href="#" data-toggle="modal" data-target="#modal2{{ forloop.index }}" style="margin-bottom:10px;margin-right:10px;float:right">Learn more</a>
            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="modal2{{ forloop.index }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{{ project.project }}</h5>
                </div>
                <div class="modal-body">
                  <p>{{ project.description }}</p>
                </div>
              </div>
            </div>
          </div>
	          {% endif %}
	        {% endfor %}
			</div>
	      {% endfor %}
      </div>
    <hr>

    <!-- Volunteer -->
    <div style="position: relative">
        <h1 style="text-align: center">Volunteer</h1>
        <div class="transparent-offset" id="volunteer"></div>
    </div>
    <div class="container">
        <p>
            We are looking for professors and industry professionals to volunteer at our events. You can help us by being a judge at our Design Reviews and/or Final Competition.
        </p>
        <p>
            Please contact us at <a href="partnerships@pioneers.berkeley.edu"> presentationerships@pioneers.berkeley.edu</a>
        </p>

    <div class="row">
        <div id="design-review-judge" class="col-sm-6">
            <h2>Design Review Judge</h2>
            <p>
                We require each high school team to give a presentation to a panel of professors and industry professionals during the first few weeks of the competition season. The purpose of the reviews is to encourage high school students to present their ideas and to receive feedback on their design.
            </p>
        </div>
        <div id="final-comp-judge" class="col-sm-6">
            <h2>Final Competition Judge</h2>
            <p>
                At Final Competition, teams can earn awards for superior mechanical, electrical, and software robot design. We invite professors and industry professionals to judge these designs and decide on an award winner in each category.
            </p>
        </div>
      </div>
    </div>
    <hr>

    <!-- FAQ -->
    <div style="position: relative">
        <h1 style="text-align: center">FAQ</h1>
        <div class="transparent-offset" id="faq"></div>
    </div>
    <div class="container">
        {% for qa in site.data.faq %}
            <div>
                <h3 style="cursor: pointer;" data-toggle="collapse" data-target="#collapse{{ forloop.index }}">
                    + <i>{{ qa.question }}</i>
                </h3>
            </div>
            <p class="collapse" id="collapse{{ forloop.index }}">{{ qa.answer }}</p>
        {% endfor %}
    </div>
</div>
