<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}


    <div class="hero-unit" style="background-image: {{ page.hero-image }}">
      <!-- <img src="{{ page.hero-image }}" alt="{{ page.title }}"> -->
      <div class="fade-overlay"></div>
      <div class="container">
        <h1>
          {{ page.hero-message }}
        </h1>
      </div>
    </div>

    <div class="container-fluid">
      {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
