<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="hero-unit tall" id="homepage-banner" style="background-image: {{ page.hero-image }}; background-attachment: fixed;">
      <div class="fade-overlay"></div>
      <div class="container vertical-center">
        <h1>
          {{ page.hero-message }}
        </h1>
      </div>
    </div>

    <div class="container">
      {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
