---
layout: default-minus-hero
---

<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ page.url | prepend: site.url }}" />
<meta property="og:image" content="{{site.url}}/assets/images/blog/{{ page.image }}" />

<div class="container">
  <div class="post">
    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-meta">{% if page.author %} Written by {{ page.author }} on {% endif %}{{ page.date | date: "%b %-d, %Y" }}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>

    <article class="post-content">
    	<div class="container-fluid">
	    	<div class="row">
	    		<div class="col-md-7">
	      			{{ content }}
	      		</div>
	      		<div class="col-md-5">
            {% if page.image %}
	      			<img src="{{site.baseurl}}/assets/images/blog/{{ page.image }}">
            {% endif %}
	      		</div>
	  		</div>
    	</div>
    </article>
  </div>
</div>
