<!DOCTYPE html>
<html>
<head>
<!-- This is intended to help redirect people who may have some blog post URLs that don't match our existing blog URL format. It is intentionally kept very simple, without all the <head> metadata, navbar, or footer you might find on other pages. -->
<link rel="canonical" href="{{ page.redirect_to }}"/>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="refresh" content="0;url={{ page.redirect_to }}" />
</head>
<body>
    <h1>Redirecting...</h1>
    <a href="{{ page.redirect_to }}">Click here if you are not redirected.<a>
    <script>location='{{ page.redirect_to | prepend: site.baseurl }}'</script>
</body>
</html>

