<!DOCTYPE html>
<html>
  {% include head.html %}

  <body style="padding-top:0px">

    {% include header.html %}

    <div class="hero-unit tall" id="software-banner">
      <div class="software-download">
        <h1>Dawn</h1>
        <h3>Version: {{page.dawn-latest-ver}}<br>{{page.dawn-last-update}}</h3>
        <center>
          <a href="{{page.dawn-win32-url}}" class="btn btn-primary btn-med">Windows</a>
          <a href="{{page.dawn-linux-url}}" class="btn btn-primary btn-med">Linux</a>
          <a href="{{page.dawn-macos-url}}" class="btn btn-primary btn-med">MacOS</a>
        </center>
      </div>

      <div class="software-download">
        <h1>Runtime</h1>
        <h3>Version: {{page.runtime-latest-ver}}<br>{{page.runtime-last-update}}</h3>
        <center>
          <a href="{{page.runtime-url}}" class="btn btn-primary btn-med">All Robots</a>
        </center>
      </div>
    </div>

    <div class="container">
      {{ content }}
    </div>


    {% include footer.html %}
    {% include sitemap.html %}

  </body>

</html>
